.WorkSection {
  position: relative;
  height: 60vh;
}

.WorkSection .container {
  width: 300px;
  margin: auto;
}

.WorkSection .container h3 {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .WorkSection {
    height: 70vh;
    margin-bottom: 100px;
  }

  .WorkSection .container {
    width: 500px;
  }

  .WorkSection .container h3 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .WorkSection {
    height: 70vh;
    margin-bottom: 100px;
  }

  .WorkSection .container {
    width: 700px;
  }

  .WorkSection .container h3 {
    font-size: 45px;
  }
}

@media screen and (min-device-width: 1025px) {
  .WorkSection {
    height: 70vh;
    margin-bottom: 100px;
  }

  .WorkSection .container {
    width: 700px;
  }

  .WorkSection .container h3 {
    font-size: 35px;
  }
}
